# Fields
public net.minecraft.world.item.MobBucketItem type
public net.minecraft.world.item.MobBucketItem emptySound
public-f net.minecraft.world.level.storage.loot.LootPool entries
public net.minecraft.world.level.storage.loot.LootPool$Builder entries
public net.minecraft.advancements.critereon.EntitySubPredicates$EntityHolderVariantPredicateType codec
public net.minecraft.world.level.block.entity.DecoratedPotPatterns ITEM_TO_POT_TEXTURE
public net.minecraft.world.level.levelgen.SurfaceRules$Context chunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context pos
public net.minecraft.world.entity.projectile.FishingHook nibble

# Methods
public net.minecraft.core.registries.BuiltInRegistries registerSimple(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/core/registries/BuiltInRegistries$RegistryBootstrap;)Lnet/minecraft/core/Registry;
public net.minecraft.data.worldgen.biome.OverworldBiomes globalOverworldGeneration(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V
public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V
public net.minecraft.client.gui.components.debug.DebugScreenEntries register(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/gui/components/debug/DebugScreenEntry;)Lnet/minecraft/resources/ResourceLocation;

# Classes
public net.minecraft.core.registries.BuiltInRegistries$RegistryBootstrap
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.util.datafix.fixes.EntitySpawnerItemVariantComponentFix$Fixer